@import "common/var";

.bl-nav-wrapper {
  display: flex;
  width: 300px;
  font-size: 18px;
  color: #fff;
  vertical-align: middle;

  div {
    cursor: pointer;
  }
}

.bl-breadcrumb {
  line-height: 72px;
  cursor: pointer;
}
